.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.code {
  user-select: none;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answer {
  text-align: center;
  flex-basis: 40%;
  margin: 0 5%;

  cursor: pointer;
  user-select: none;
}

.answer.correct pre {
  background-color: #8f8 !important;
}

.answer.incorrect pre {
  background-color: #f88 !important;
}

.answer.glow-correct pre {
  box-shadow: 0 0 10px 5px #0f0, 0 0 16px 10px #1e1, 0 0 23px 15px #2d2;
}





/**/
